<div class="flex justify-center">
  <div class="px-4 w-[722px]">
    <app-page-title title="Realizar pago"/>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Metodo de pago</mat-panel-title>
        <mat-panel-description>
          <div class="flex flex-col">
            <span>Terminada en 1232</span>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <table class="w-full">
        <thead class="border-b border-zinc-300">
          <td></td>
          <td></td>
          <td class="px-4">Titular</td>
          <td class="px-4">Vencimiento</td>
        </thead>
        <tbody>
            <tr *ngFor="let card of cards">
              <td><mat-radio-button/></td>
              <td class="p-4">Terminada en {{card.lastFour}}</td>
              <td class="p-4">{{card.owner}}</td>
              <td class="p-4">{{card.expiration}}</td>
            </tr>
        </tbody>
      </table>

      <div class="mt-4">
        <button mat-flat-button color="primary">+ Añadir metodo de pago</button>    
      </div>
    </mat-expansion-panel>
  </div>

  <mat-card class="w-[350px]">
    <mat-card-header>
      <mat-card-title>Servicio EOS</mat-card-title>
    </mat-card-header>
    <div class="flex flex-col p-4">
        <div class="flex justify-between mb-2 pt-2 border-t border-zinc-300">
            <span>Servicio:</span>
            <span>5000MXN</span>
        </div>
        <div class="flex justify-between mb-2">
          <span>Descuento:</span>
          <span>0MXN</span>
        </div>
        <div class="flex justify-between pb-2 border-b border-zinc-300">
          <span>Total:</span>
          <span>5000MXN</span>
        </div>

      <div class="mt-4">
        <app-cupons-form></app-cupons-form>
      </div>
    </div>
  </mat-card>
</div>