<div class="flex justify-center">
  <div class="px-4 w-[722px]">
    <app-page-title title="Realizar pago" />
    <mat-card class="p-4">
      <mat-card-header>
        <div class=" w-full mb-4">
          <p class="text-lg text-zinc-700">Metodo de pago seleccionado: Terminada en <span class="font-semibold">{{selectedCard}}</span></p>
        </div>
      </mat-card-header>

      <mat-radio-button *ngFor="let card of cards" value="radio{{card.id}}" class="w-full" (click)="selectCard(card.lastFour)">
        <div class="flex p-4 rounded border w-[500px] my-2 cursor-pointer transition duration-150 hover:bg-zinc-100">
          <div class="w-3/4">
            <div class="text-lg">
              Terminada en {{card.lastFour}}
            </div>
            <div class="text-zinc-700">
              {{card.owner}}
            </div>
          </div>
          <div class="w-full text-end">
            vencimiento: {{card.expiration | mask:'00/00'}}
          </div>
        </div>
      </mat-radio-button>

      <div class="ml-[45px] w-[500px] my-2">
        <button class="w-full" mat-stroked-button color="primary" (click)="addCard('150ms', '150ms')">+ Añadir metodo de pago</button>
      </div>
    </mat-card>
  </div>

  <div class="mt-[83px]">
    <mat-card class="w-[350px] p-4">
      <div class="py-1 text-xl text-center">
        Servicio EOS
      </div>
      <div class= "text-zinc-700 text-sm mb-4">
        Para pagar primero debes seleccionar un metodo de pago
      </div>
      <div class="flex flex-col">
        <div class="flex justify-between mb-2 pt-2 border-t border-zinc-300">
          <span>Servicio:</span>
          <span>5000MXN</span>
        </div>
        <div class="flex justify-between mb-2 pb-2 border-b border-zinc-300">
          <span>Descuento:</span>
          <span>0MXN</span>
        </div>
        <div class="flex justify-between">
          <span class="font-semibold text-lg">Total:</span>
          <span class="font-semibold text-lg">5000MXN</span>
        </div>
      </div>
      <div class="mt-6 w-full flex justify-center">
        <button mat-flat-button color="primary" class="w-full" (click)="confirmPay('150ms', '150ms')">Pagar</button>
      </div>
    </mat-card>
    <div class="mt-2">
      <app-cupons-form></app-cupons-form>
    </div>
  </div>
</div>