<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ingresar cupón de descuento
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="flex justify-center w-full items-center">
        <mat-form-field appearance="fill" class="flex">
            <mat-label>Cupón</mat-label>
            <input matInput type="text" min="1" class="w-ful">
        </mat-form-field>
        <button mat-flat-button color="primary" class="mx-2">Aplicar</button>
    </div>
</mat-expansion-panel>