<div class="flex m-4 shadow-md border border-zinc-300 rounded-md bg-white">
    <div class="flex justify-center items-center w-24 bg-indigo-500">
        <span class="font-bold text-white">-54MXN</span>
    </div>
    <div class="flex flex-col flex-grow rounded-r-md p-3">
        <span class="text-lg font-semibold leading-tight">N2XF4</span>
        <span class="text-sm text-secondary text-zinc-700">Descuento en: EOS</span>
        <span class="text-secondary mt-4 text-zinc-700 text-xs">vigencia hasta 11/11/2022</span>
    </div>
</div>
